# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data
*.db*
data/

# dbt
target/
dbt_packages/
logs/

# IPython
.ipynb_checkpoints
*.ipynb

# Environment
.venv/

# Editor
.vscode

# Linter
.ruff_cache

# Mac
*.DS_Store
